extends layout.pug 

//- include utils.pug 

block content 
    //- link(rel='stylesheet' href='/stylesheets/login.css')
    //- +validationErrorSummary(error)
    //- .modal
    //-     .modal-box
    //-         .modal-body
    //-             h3 Log In
                
    //-             form(action="/users/login", method="post")
    //-                 .form-control
    //-                     input(type="hidden" name="_csrf" value=token)
    //-                 .form-control
    //-                     label(for="username") Username
    //-                     input(type="text" name="username" required id="username")
    //-                 div.form-control
    //-                     label(for="password") Password
    //-                     input(type="password" name="password" required id="password")
    //-                 div.form-control-log
    //-                     button(class='login-btn' type="submit") wow! 
    //-             .modal-footer
    //-                 p.logText Or log in with
    //-             form(action="/users/login", method="post")          
    //-                 .form-control-log
    //-                     input(type="hidden" name="_csrf" value=token)
    //-                     input(type="hidden" name="username" required id="username" value='demo user1')
    //-                     input(type="hidden" name="password" required id="password" value='Password12!')
    //-                     button(class='login-btn' type="submit") Demo
    //-                 img(class="close" src='/images/close.png' alt="close")

        

