extends layout.pug

block content
    link(rel="stylesheet", href="/stylesheets/splash.css")
    link(rel="stylesheet", href="/stylesheets/splash1.css")
    .carousel
        div(class="carousel__item carousel__item--visible")
            img(src="/images/splash1.webp", alt="")
            h1.first-txt CRYSTAL GUARD 
            h3.second-txt Discover the new operator Osa and her Talon-8 transparent deployable shield alongside some updates on various competitive maps.
            a(class='splashBtn' href='/games') BROWSE GAMES
            div.splashLogo
                img(src="https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/1ijwYL41hbptYXWfjKUa8d/8e130104e5f4b65e242af977ee705648/r6-logo__1_.png", alt="")
        .carousel__item
            img(src="/images/splash2.webp", alt="")
            a(class='splashBtnVal' href='/games') BROWSE GAMES
            div.splashLogo
                img(src="https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4T6lB1WHsBymeOcPaBBl7m/b84d08673cbfea11af240cf4f1db60f1/Helix_ACK_Logo_Full_Vertical_BlueWhite_UBI-SLIDE_v2.png", alt="")
        .carousel__item
            img(src="/images/splash3.webp", alt="")
            h1.first-txt MIRAGE 
            h3.second-txt Starting June 10th, play For Honor's Y5S2: Mirage and get access to new armor, weapons, events, battle pass and more!
            a(class='splashBtnHonor' href='/games') BROWSE GAMES
            div.splashLogo
                img(src="https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/766lZcUbVNYOWbA7T8DPVf/d8f259f120fbf4e21431d8f358ecee72/homescreen_hero-FH_og_logo_300w.png", alt="")
        .carousel__item
            img(src="/images/splash4.webp", alt="")
            h1.first-txt MARIO + RABBIDS SPARKS OF HOPE
            h3.second-txt Join Mario, The Rabbids & Their Friends On A Mission To Save The Galaxy!
            a(class='splashBtnMario' href='/games') BROWSE GAMES
            div.splashLogo
                img(src="https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4AvGeGaLhovDVhRNcsx9UL/e5069e15feca593d3ba0901a22e3e508/SHK_Ubicom_logo.png", alt="")
        .carousel__item
            img(src="/images/splash5.webp", alt="")
            h1.first-txt AVATAR: FRONTIERS OF PANDORA
            h3.second-txt Play as a Na'vi and embark on a journey across the Western Frontier, a never-before-seen part of Pandora.
            a(class='splashBtnAvatar' href='/games') BROWSE GAMES
            div.splashLogo
                img(src="https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6HJ8139QVJPUFqQBGpTiom/1aac4c968faf8fe6bfbeeb84fbbec608/avtr_fop-homescreen-carousel-logo.png", alt="")
        .carousel__actions
            button(id='carousel__button--prev' aria-label="Previous slide") <
            button(id='carousel__button--next' aria-label="Next slide") >
    script(src='/javascripts/login.js')
    script(src='/javascripts/splash.js')
