extends layout.pug


block content
    if shelves
        p This shelf already exists
    form(method='POST' action=`/users/${userId}/addShelf`)
        label(for="name") Add Shelf Name
        input(type="text" name='name' placeholder='Shelf Name')
        button(type="submit" action=`/users/${userId}/mygames`) Submit
