extends layout.pug


block content
    div.addShelf
        if shelves
            p.addShelfErrorMsg This shelf already exists
        form(method='POST' class="addShelfForm" action=`/users/${userId}/addShelf`)
            label(for="name" class="addShelfForm") Add Shelf Name
            input(type="text" class="addShelfForm" name='name' placeholder='Shelf Name')
            button(type="submit" class="addShelfForm raw-btn" action=`/users/${userId}/mygames`) Submit
