extends layout.pug


block content
    if !shelves
        p.deleteShelfErrorMsg shelf you are trying to delete does not exist
    form(method='POST' class="deleteShelfForm" action=`/users/${userId}/deleteShelf`)
        label(for="name" class="deleteShelfForm") Delete Shelf Name
        input(type="text" class="deleteShelfForm" name='name' placeholder='Shelf Name')
        button(type="submit" class="deleteShelfBtn" action=`/users/${userId}/mygames`) Submit
