extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/games.js" type="module" defer)

block content
  h1= title
  p Welcome to your Project Skeleton
  //- a(class='btn' href='/book/add' role='button') Add Book

  div
    each game in games
      div
        a(href=`/games/${game.id}`) #{game.title}
    //-game.image   <--- potentially add to database

