doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    if locals.authenticated
      span(class='navbar-text px-4') Welcome #{user.firstName}!
      form(class='form-inline pr-4' action='/users/logout' method='post')
        button(class='btn' type='submit') Logout
    else
      span(class='navbar-text px-4')
        a(class='btn' href='/users/login') Login
        a(class='btn' href='/users/signup') Register
        a(href="/users/#{userId}") UserProfile 
    block content
