doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/nav.css')
  body
    div#global-nav
      div#nav
        div.logo
          //- a(class='logo-btn')
          //-   div.logo-btn-desktop
          //-     img(src="/images/logo.svg", alt="")
        nav.menu
          ul.menus__container
            li.menu__drawer
              a(class='btn' href='/') Home
            li.menu__drawer
              a(class='btn' href='/games') Browse Games
            li.menu__drawer
              a(class='btn' href=`/users/${userId}/mygames`) My Games
            li.menu__drawer
              a(class='btn' href=`/users/${userId}`) User Profile
            li.menu__drawer
              a(class='userIcon' href='/users/login')
                img(class='userIcon' src="/images/user.png", alt="?")
    div.container
      if locals.authenticated
        form(class='form-inline pr-4' action='/users/logout' method='post')
          button(class='log' type='submit') Logout

          

      block content
