extends layout.pug 

include utils.pug 

block content 
    +validationErrorSummary(error)
    div 
        form(action="/users/login", method="post")
            input(type="hidden" name="_csrf" value=token)
            input(type="hidden" name="username" required id="username" value='demo user1')
            input(type="hidden" name="password" required id="password" value='Password12!')
            button(type="submit") Demo
    form(action="/users/login", method="post")
        input(type="hidden" name="_csrf" value=token)
        div
            label(for="username") Username
            input(type="text" name="username" required id="username")
        div
            label(for="password") Password
            input(type="password" name="password" required id="password")
        div
            button(type="submit") wow! 
        a(href='/users/signup') Register
        

        //-include the token when we pass it in later