extends layout.pug 

include utils.pug 

block content 
    +validationErrorSummary(error)
    .modal
        .modal-box
            .modal-body
                h3 Log In
                form(action="/users/login", method="post")
                    .form-control
                        input(type="hidden" name="_csrf" value=token)
                        input(type="hidden" name="username" required id="username" value='demo user1')
                        input(type="hidden" name="password" required id="password" value='Password12!')
                        button(type="submit") Demo
    form(action="/users/login", method="post")
        input(type="hidden" name="_csrf" value=token)
        div.form-control
            label(for="username") Username
            input(type="text" name="username" required id="username")
        div.form-control
            label(for="password") Password
            input(type="password" name="password" required id="password")
        div.form-control
            button(type="submit") wow! 
            .modal-footer
                p Don't have an account?
                a(href="#") Start your free trial
            img(class="close" src='/images/close.png' alt="close")

        

