extends layout.pug


block content
    h2 #{title}
    div.sideBar
        h3 Gameshelves
            each shelf in shelves
                ul
                    li #{shelf.name}(#{shelf.Games.length})
        form(action="/users/#{userId}/addShelf" method='POST')
            button(type='submit') Add Shelf
