extends layout.pug


block content
    h2 #{title}
    div.sideBar
        h3 Gameshelves
            each shelf in shelves
                ul
                    li #{shelf.name}(#{shelf.Games.length})
        a(href=`/users/${userId}/addShelf`) Add Shelf 
    table
        thead
            tr
                th Box Art
                th Title
                th Studio 
                th AvgCleanRating 
                th Shelves
                th Review
                th ReleaseDate
        tbody
            tr
                td
            
