extends layout

block content
    div
        form(action=`/reviews/${review.id}/edit`, method="post")
            textarea(name="content") #{review.content}
            button(type="submit") Update Review
