extends layout

include utils.pug 

block content
    div
        +validationErrorSummary(errors)
        form(action=`/reviews/${review.id}/edit`, method="post")
            input(type="hidden" name="_csrf" value=token)
            textarea(name="content") #{review.content}
            button(type="submit") Update Review
