extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  form(action='/users/signup' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('First Name', 'firstName', user.firstName, 'text')
    +field('Last Name', 'lastName', user.lastName, 'text')
    +field('Username', 'username', user.username, 'text')
    +field('Email Address', 'email', user.email, 'email')
    //- input(type="email" name="email" required placeholder="email")
    +field('Password', 'password', user.password, 'password', 'password')
    +field('Confirm Password', 'confirmPassword', '', 'password', 'password')
    div(class='py-4')
      button(type='submit' class='new-user') Sign up
      a(href='/games' class='btn btn-warning ml-2') Cancel
