extends layout 
block content
    link(rel='stylesheet' href='/stylesheets/splash.css')
    div.splash 
        h1.first-txt CRYSTAL GUARD 
        h3.second-txt Discover the new operator Osa and her Talon-8 transparent deployable shield alongside some updates on various competitive maps.
        a(class='splashBtn' href='/games') Learn More
        div.splashLogo
            img(src="https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/1ijwYL41hbptYXWfjKUa8d/8e130104e5f4b65e242af977ee705648/r6-logo__1_.png", alt="")
    script(src='/javascripts/login.js')
