.flex-outer {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}

.flex-inner {
    display: flex;
    justify-content: center;
    margin-left: 20px;


}

.inner {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: space-between;
}

.game-title {
    font-size: 50px;
    font-weight: bold;
}
.marginbot {
    margin-bottom: 40px;
}

.game-avgRating {
    font-size: 50px;
    background-color:#fb049c;
    width: 90px;
}

.pink {
    color:#fb049c;
}

.bold {
    font-weight: bold;

}

.raw-btn {
    background-color: white;
    color: #fb049c;
    font-weight: bold;
    border: 2px solid #fb049c;
    border-radius: 10px;
    padding: 3px 5px;
    /* box-shadow: 2px 2px 3px 2px #a1909a; */


}

.raw-btn:hover {
    background-color: #fb049c;
    color: white;
}

.box-art {

}

.midshelf {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropbox1 {
    margin-right: 80px;
}

.dropbox2 {
    margin-right: 30px;
}

.textarea {
    margin-right: 20px;
}

.usernamerev {
    font-size: 15px;
}

.likebtn {
    margin-bottom: 30px;
}

.likes {
    font-size: 15px;

}
