.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-box {
    margin: 10% auto;
    width: 400px;
    background: #fff;
    color: #333;
    position: relative;
    animation: modalopen 1s;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-body {
    padding: 20px 50px;
}

.modal-body h3 {
    font-weight: bold;
}

.btn-dark {
    background: #000;
    color: #fff;
}

.modal-body .btn {
    width: 100%;
    margin-top: 30px;
}

.modal .close {
    cursor: pointer;
    height: 23px;
    width: 23px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal .modal-footer {
    color: #333;
    padding-left: 20px 0;
    /* border-bottom: black .25px solid; */
    text-decoration: center;
}

.modal .modal-footer a {
    color: steelblue;
}

.form-control {
    margin: 20px 0;
}

.form-control label {
    display: block;
    text-transform: uppercase;
}

.form-control input {
    width: 100%;
    height: 50px;

    border: 2px #ccc solid;
    border-radius: 5px;
    padding: 5px;
}

.logText {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-control-log {
    display: flex;
    justify-content: center;
}

.login-btn {
    background-color: #0077e5;
    color: white;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;

    border-style: none;
    border-radius: 15px;
    width: 100%;
    padding: .5rem 2rem;
    margin-bottom: 20px;
}

.login-btna {
    width: 100%;
    padding: .47rem 6.15rem;
    margin-bottom: 20px; 
    border-radius: 15px;
    border-style: none;

    font-weight: bold;
    color: white;
    background-color: #0077e5;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

#userProfile,
#myGame {
    cursor: pointer;
}