.container {
    margin-left: 0%;
    margin-right: 0%;
}
.background {
    /* z-index: ; */
}

.splash {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
    height: 60rem;
}

.first-txt {
    position: absolute;
    font-weight: 600;
    font-size: 3rem;
    transform: translateY(-10rem);
    color: #fff;
    text-shadow: #000 0px 2px 8px;
    -webkit-font-smoothing: antialiased;
}

.second-txt {
    position: absolute;
    margin-right: 11%;
    margin-left: 11%;
    /* bottom: 100px; */
    color: white;
    font-size: 1.32rem;
    font-weight: 500;
    text-shadow: #000 0px 2px 8px;
    -webkit-font-smoothing: antialiased;
    transform: translateY(-6rem);
    text-align: center;
}

.splashBtn {
    position: absolute;
    text-decoration: none;
    background-color: #ffa200;
    color: white;
    text-shadow: #000 0px 0px 3px;
    -webkit-font-smoothing: antialiased;
    padding: .6rem 3rem;
    border-radius: 10rem;
    transform: translateY(1rem);
}

.splashLogo {
    position: absolute;
    transform: translateY(13rem);
}
