.parentContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    /* display: inline-grid;
    grid-template-columns: 40px;
    grid-template-rows: 40px ; */

}

.listedGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 300px;
    background: rgba(216,216,216,0.3);
    overflow: hidden;
    border-radius: 10px;

    /*  */
    transition: box-shadow 500ms, transform 500ms;
    /*  */
}

.listedGame:hover {
    box-shadow: 0px 2px 15px #fb049c;
    /* background: #1A251A; */
    color: #fb049c;
    transform:scale(1.05);
    /*  */
    /* transform: scaleY(1.5);
    transform-origin: bottom; */
    /*  */
}

.gameTitle {
    display: flex;
    /* padding: 10px; */
    /* margin: 5px; */


}

h1{
    color:#fb049c ;
}
.header{
    display: flex;
    justify-content: center;
    margin: 10px;
}

img.gamePic{
    max-width:95%;
    max-height:95%;
    display: flex;

}

.atag{
    display: flex;

    justify-content: center;
    align-items: center;
}

.gameTitleText{
    /* font-size: 19px; */
    font-size: 25px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
